@import url("https://fonts.googleapis.com/css?family=Questrial|Quicksand|Radley");

.Contact {
    font-family: 'Quicksand', sans-serif;
    margin-top: 75px;

    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
    align-content: stretch;

    text-align: center;
}

.Contact_Title {
    text-decoration: underline;
}

.Contact_Body {
    width: 275px;
    font-size: .9em;
    margin-top: 25px;
}