@import url("https://fonts.googleapis.com/css?family=Questrial|Quicksand|Radley");

/* font-family: 'Radley', serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Questrial', sans-serif; */
.App {
  background-color: rgb(190, 186, 181);

  height: 400vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

